h2{
    font-size: 1.8rem;
    margin: 1rem 0;
}
.card-container{
    margin: 2rem 0;
}
.cards{
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
    scrollbar-width: none;
}
.card{
    width: 12rem;
}
.cards .card img{
    width: 15rem;
}
.cards .card p{
    font-size: 1.4rem;
    margin: 0;
}
.cards::-webkit-scrollbar {
    height: 5px;
}
.cards::-webkit-scrollbar-track {
    background: transparent; 
}
.cards::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 5px; 
}
  